<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me-Sai Shashidhar</title>
    <link href="https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
        <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/">SaiShashidhar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.instagram.com/shashiii_45/">INSTAGRAM </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">TWITER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://github.com/saishashidhar66">GITHUB</a>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link" href="https://www.linkedin.com/in/sai-shashidhar-2026251a3">LINKEDIN</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/blog/">BLOG</a>
                    </li>
                      <li class="nav-item">
                        <a class="nav-link active " href="/contact/">CONTACT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <section id="contact-me">
        <div class="container">
            <h1 class="title text-center">Contact Me</h1>
            <div class="row text-center">
                <div class="col-md-3 address">
                    <h4>Address</h4>
                    <p>hanamkonda teacher's colony phase-II </p>
                </div>
                <div class="col-md-3 my-projects">
                    <h4>Phone</h4>
                    <p>9573224936</p>
                </div>
                <div class="col-md-3 my-projects">
                    <h4>Instagram</h4>
                    <p>@shashiii_45</p>
                </div>
                <div class="col-md-3 my-projects">
                    <h4>Facebook</h4>
                    <p>saishashidhar</p>
                </div>
            </div>
        </div>
    </section>

    <section id="footer">
       
        <div class="container">
            <div class="row text-center">
                <div class="col-md-12">
                    <p>&copy; Made with &hearts; by Shashii!</p>
                </div>
            </div>
        </div>
    </section>

<style>
*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Comic Neue', cursive;
}

.address{
    margin-top: 50px;
    margin-bottom: 50px;
}
#contact-me{
    margin: 70px 0;
    padding-top: 87px;
}
.my-projects{
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

</style>
 
    <script src="smooth-scroll.js"></script>
    <script>
        var scroll = new SmoothScroll('a[href*="#"]');
    </script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>